@tailwind base;
@tailwind components;
@tailwind utilities;

.naver-button:hover .naver-icon {
    @apply text-white;
}

.google-button:hover .google-icon {
    @apply text-white;
}

.drawer-transition {
    @apply fixed inset-x-0 top-16 z-30 w-full h-full flex flex-col items-center overflow-y-hidden transition-transform ease-in-out;
    transform: translateY(-100%);
}
.drawer-open {
    transform: translateY(0);
}

.tool_tip:hover .arrow_box {
  display: block;
}

.arrow_box {
	background: #ffffff;
	border: 1.5px solid #39cccc;
}
.arrow_box:after, .arrow_box:before {
	border: solid transparent;
	content: "";
	right: 100%;
	top: 50%;
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 6px;
	margin-top: -6px;
}
.arrow_box:before {
	border-color: rgba(57, 204, 204, 0);
	border-right-color: #39cccc;
	border-width: 8.5px;
	margin-top: -8.5px;
}

/*  하단 */
.arrow-bottom:after, .arrow-bottom:before {
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	right: 3%;
	bottom: 100%;
	position: absolute;
	pointer-events: none;
}

.arrow-bottom:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 6px;
	margin-top: 10px;
	margin-right: 2px;
	border-style: solid;
}
.arrow-bottom:before {
	border-color: rgba(57, 204, 204, 0);
	border-bottom-color:  #39cccc;
	border-width: 8px;
	margin-top: 5px;
	border-style: solid;
}

html,button, input, optgroup, select, textarea  {
}